In [2]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv("ratings.csv")
remarks = pd.read_csv("remarks.csv")
remarks_supp_opp = pd.read_csv("remarks_supp_opp.csv")
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")
ratings.head()

C:\Users\Mizhaan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   emp      comp        Date  rating
0   31  bnivzbfi  01-02-2016       4
1   33  bnivzbfi  01-02-2016       4
2   79  bnivzbfi  01-02-2016       4
3   94  bnivzbfi  01-02-2016       4
4   16  bnivzbfi  01-02-2016       2

In [3]:
ratings["Date"] = pd.to_datetime(ratings["Date"])
ratings.insert(0, 'my_id', ratings['emp'].apply(str) + ratings['comp'])

In [4]:

grouped_ratings = ratings.groupby('my_id')
df = grouped_ratings.max()['Date']
df = df.reset_index()
df.columns = ['my_id','last_rating_date']
df_2 = grouped_ratings.min()['Date']
df_2 = df_2.reset_index()
df_2.columns = ['my_id','first_rating_date']
grouped_dates = df.join(df_2.set_index('my_id'),on='my_id')
grouped_dates.head()

         my_id last_rating_date first_rating_date
0  100bhqczwkj       2017-03-14        2016-01-10
1  100bnivzbfi       2017-12-03        2016-01-07
2  100ejeyobsm       2016-09-29        2016-02-10
3  100jblrepyr       2017-10-01        2016-01-12
4  100ocsicwng       2017-11-01        2016-07-11

In [5]:
min_date = ratings['Date'].min()
max_date = ratings['Date'].max()
delta_time = float((max_date - min_date).days)
ratings['Weights'] = ratings['Date'].apply(lambda x: float((x-min_date).days)/delta_time)
# ratings

In [6]:
ratings['prod'] = ratings['rating']*ratings['Weights']

grouped_no_ratings = ratings.groupby('my_id').size()
grouped_no_ratings = grouped_no_ratings.reset_index()
grouped_no_ratings.columns = ['my_id','no_ratings']

grouped_sum_weights = ratings.groupby('my_id').sum()['Weights']
grouped_sum_weights = grouped_sum_weights.reset_index()
grouped_sum_weights.columns = ['my_id','sum_weights']

grouped_sum_prod = ratings.groupby('my_id').sum()['prod']
grouped_sum_prod = grouped_sum_prod.reset_index()
grouped_sum_prod.columns = ['my_id','sum_prod']

grouped_sum = grouped_sum_weights.join(grouped_sum_prod.set_index('my_id'),on='my_id')
grouped_sum['weighted_rating'] = grouped_sum['sum_prod']/grouped_sum['sum_weights']

grouped_weighted_rating = grouped_sum.drop(['sum_weights','sum_prod'],axis = 1)
grouped_weighted_rating = grouped_dates.join(grouped_weighted_rating.set_index('my_id'),on='my_id')
grouped_weighted_rating = grouped_weighted_rating.join(grouped_no_ratings.set_index('my_id'),on='my_id')
grouped_weighted_rating

,my_id,last_rating_date,first_rating_date,weighted_rating,no_ratings
0,100bhqczwkj,2017-03-14,2016-01-10,3.371281,22
1,100bnivzbfi,2017-12-03,2016-01-07,4.000000,187
2,100ejeyobsm,2016-09-29,2016-02-10,3.734781,4
3,100jblrepyr,2017-10-01,2016-01-12,3.000000,22
4,100ocsicwng,2017-11-01,2016-07-11,3.422357,12
5,100phcvroct,2017-12-03,2015-01-09,2.203217,169
6,100rcwkfavv,2017-12-01,2016-02-12,2.814925,44
7,100rujnkvse,2017-09-02,2017-02-15,3.878823,8
8,100siexkzzo,2017-09-01,2016-01-09,2.522511,66
9,100ugldwwzf,2017-11-01,2016-01-12,3.585787,78
10,100ujplihug,2016-12-09,2016-01-08,2.131132,102
11,100vwcdylha,2016-12-11,2016-01-04,1.003528,247
12,100ydqdpmvi,2016-12-09,2016-01-09,2.880416,90
13,100ylpksopb,2017-12-01,2016-03-12,3.156404,24
14,101bhqczwkj,2017-09-03,2016-01-12,3.113504,9
15,101bnivzbfi,2017-12-03,2016-01-06,2.619440,312
16,101ejeyobsm,2017-12-03,2016-01-11,3.878417,129
17,101ewpvmfbc,2016-12-07,2016-01-02,3.597445,125
18,101jblrepyr,2017-12-03,2016-04-12,2.173166,22
19,101ocsicwng,2016-12-15,2016-03-10,2.982222,5
20,101phcvroct,2017-12-03,2015-01-05,3.972604,688
21,101rcwkfavv,2016-10-13,2016-01-10,2.998562,8
22,101rujnkvse,2017-12-01,2017-01-13,1.805938,12
23,101siexkzzo,2017-12-01,2016-01-09,2.827529,78
24,101ugldwwzf,2016-12-08,2016-01-08,3.614712,18
25,101ujplihug,2017-12-03,2016-01-08,3.353373,237
26,101vwcdylha,2016-03-24,2016-03-18,3.501877,2
27,101ydqdpmvi,2017-10-03,2016-01-07,1.945909,51
28,101yodaczsb,2016-12-23,2016-06-12,2.751694,8
29,102bnivzbfi,2017-12-03,2016-01-02,3.779591,245
...,...,...,...,...,...
4347,99siexkzzo,2017-02-19,2016-01-07,3.185210,60
4348,99vwcdylha,2016-12-10,2016-01-04,3.774325,83
4349,99ydqdpmvi,2017-12-01,2016-01-07,2.931876,163
4350,99yodaczsb,2017-12-01,2016-02-12,2.961694,27
4351,9bhqczwkj,2017-10-01,2016-02-12,2.000000,13
4352,9bnivzbfi,2016-11-02,2016-02-22,4.000000,3
4353,9dmgwoqhz,2017-12-02,2016-01-12,3.742380,96
4354,9ejeyobsm,2017-10-01,2016-01-09,3.461386,159
4355,9ewpvmfbc,2016-12-09,2016-01-02,2.873378,28
4356,9fqsozvpv,2017-03-13,2017-03-13,4.000000,1
4357,9jblrepyr,2016-11-29,2016-03-10,3.167892,8
4358,9jnvpfmup,2017-10-03,2017-03-03,3.210585,5
4359,9lgqwnfsg,2017-10-03,2016-09-21,2.986386,11
4360,9lydqevjo,2016-01-31,2016-01-31,1.000000,1
4361,9oecfwdaq,2015-09-02,2015-02-03,3.234602,9
4362,9ojidyfnn,2016-12-06,2016-06-13,3.000000,5
4363,9pfmjacpm,2017-09-03,2017-02-03,1.998647,8
4364,9phcvroct,2016-11-05,2015-01-04,1.796444,31
4365,9pkeebtfe,2016-12-16,2016-12-16,3.000000,1
4366,9rcwkfavv,2016-09-29,2016-07-10,2.660730,6
4367,9rcyiinms,2017-02-23,2016-07-11,3.000000,16
4368,9siexkzzo,2017-12-02,2016-01-07,1.753361,147
4369,9ugldwwzf,2017-12-01,2016-01-07,3.876493,138
4370,9ujplihug,2017-12-01,2016-01-05,2.733499,142
4371,9vcqsbirc,2016-12-01,2015-12-23,3.554511,4
4372,9vwcdylha,2016-12-09,2016-01-04,2.795682,100
4373,9wsmblohy,2017-10-03,2017-02-20,2.506431,6
4374,9xccmgbjz,2017-11-01,2016-01-09,3.798995,86
4375,9ydqdpmvi,2017-12-02,2016-01-06,2.779259,207
4376,9ylpksopb,2017-09-02,2016-02-06,3.200499,20

In [7]:
# Dropping Negative ID's
remarks_supp_opp = remarks_supp_opp.drop(remarks_supp_opp[remarks_supp_opp.emp<0].index)

In [8]:
# Inserting my_id
remarks_supp_opp.insert(0, 'my_id', remarks_supp_opp['emp'].apply(str) + remarks_supp_opp['comp'])
train.insert(0, 'my_id', train['emp'].apply(str) + train['comp'])

In [9]:
# Transforming remarks.csv
remarks = pd.read_csv("remarks.csv")

# Dropping Negative ID's and duplicates
remarks = remarks.drop(remarks[remarks.emp<0].index)
remarks = remarks.drop_duplicates()

# Inserting 'my_id'
remarks.insert(0, 'my_id', remarks['emp'].apply(str) + remarks['comp'])

# txt to length
remarks['txt'] = remarks['txt'].apply(str)
remarks['txt'] = remarks['txt'].apply(lambda x: len(x))

remarks['remarkDate'] = pd.to_datetime(remarks['remarkDate'])

In [10]:
# Transforming remarks_supp_opp.csv
remarks_supp_opp = pd.read_csv("remarks_supp_opp.csv")

# Dropping Negative ID's
remarks_supp_opp = remarks_supp_opp.drop(remarks_supp_opp[remarks_supp_opp.emp<0].index)

# Inserting 'my_id'
remarks_supp_opp.insert(0, 'my_id', remarks_supp_opp['emp'].apply(str) + remarks_supp_opp['comp'])

# True/False to 1/0
remarks_supp_opp['support'] = remarks_supp_opp['support'].apply(lambda x: 1 if (x == True) else 0)
remarks_supp_opp['oppose'] = remarks_supp_opp['oppose'].apply(lambda x: 1 if (x == True) else 0)

In [11]:
short_train = train.drop(['id','emp','comp','lastratingdate'] ,axis=1)
recd_remarks = pd.merge(remarks_supp_opp,short_train,how='inner',on='my_id')

recd_remarks = recd_remarks.drop_duplicates()
recd_remarks = recd_remarks.sort_values('remarkId',axis=0)
pivot_recd_remarks = pd.pivot_table(recd_remarks, values=['support','oppose'], index='remarkId',
                    columns=['left'], aggfunc=np.sum,fill_value = 0)

In [12]:
recd_remarks_supp_opp = pivot_recd_remarks.reset_index()
recd_remarks_supp_opp.columns = ['remarkId','recd_opp_0','recd_opp_1','recd_supp_0','recd_supp_1']

In [13]:
df = pd.merge(recd_remarks_supp_opp,remarks,how='right',on='remarkId')
df['recd_opp_0'] = df['recd_opp_0'].apply(lambda x: 0 if (pd.isnull(x)) else x)
df['recd_opp_1'] = df['recd_opp_1'].apply(lambda x: 0 if (pd.isnull(x)) else x)
df['recd_supp_0'] = df['recd_supp_0'].apply(lambda x: 0 if (pd.isnull(x)) else x)
df['recd_supp_1'] = df['recd_supp_1'].apply(lambda x: 0 if (pd.isnull(x)) else x)

min_date = df['remarkDate'].min()
max_date = df['remarkDate'].max()
delta_time = float((max_date - min_date).days)
df['Weights'] = (df['remarkDate'].apply(lambda x: float((x-min_date).days)/delta_time))*df['txt']
df['recd_opp_0'] = df['recd_opp_0']*df['Weights']
df['recd_opp_1'] = df['recd_opp_1']*df['Weights']
df['recd_supp_0'] = df['recd_supp_0']*df['Weights']
df['recd_supp_1'] = df['recd_supp_1']*df['Weights']

df_weighted = df.groupby('my_id')['recd_opp_0', 'recd_opp_1','recd_supp_0','recd_supp_1','Weights'].sum().reset_index()
df_weighted['recd_opp_0'] = df_weighted['recd_opp_0']/df_weighted['Weights']
df_weighted['recd_opp_1'] = df_weighted['recd_opp_1']/df['Weights']
df_weighted['recd_supp_0'] = df_weighted['recd_supp_0']/df_weighted['Weights']
df_weighted['recd_supp_1'] = df_weighted['recd_supp_1']/df_weighted['Weights']

df_weighted['last_remark_date'] =df.groupby('my_id').max()['remarkDate'].reset_index()['remarkDate'].reset_index().drop(['index'],axis=1)
df_weighted['first_remark_date'] =df.groupby('my_id').min()['remarkDate'].reset_index()['remarkDate'].reset_index().drop(['index'],axis=1)

In [14]:
recd_grouped_weighted_remark = df_weighted.drop(['Weights'],axis=1)
recd_grouped_weighted_remark

,my_id,recd_opp_0,recd_opp_1,recd_supp_0,recd_supp_1,last_remark_date,first_remark_date
0,100bhqczwkj,0.000000,0.000000,3.317508,0.000000,2016-12-12,2016-09-29
1,100bnivzbfi,1.324288,0.000000,7.949678,0.000000,2017-01-30,2016-01-08
2,100ocsicwng,0.211743,0.000000,1.457809,0.000000,2017-09-01,2016-10-18
3,100rujnkvse,0.325913,0.000000,3.441502,0.000000,2017-09-02,2017-02-15
4,100siexkzzo,1.595828,2.093780,4.764586,0.174818,2017-09-01,2016-06-21
5,100ugldwwzf,0.524832,0.000000,6.111748,0.000000,2017-06-02,2016-03-11
6,100ujplihug,5.354856,27.225400,15.920797,3.606212,2016-12-09,2016-02-09
7,100vwcdylha,1.254871,46.994185,2.753837,0.059216,2016-11-04,2016-01-07
8,100ydqdpmvi,1.026361,0.000000,25.862464,1.000085,2016-11-06,2016-02-07
9,101bhqczwkj,0.000000,0.000000,0.308240,0.000000,2017-09-03,2016-01-12
10,101bnivzbfi,2.268433,1.457579,7.327842,0.000000,2016-12-25,2016-01-07
11,101ejeyobsm,0.651904,0.000000,6.651904,0.000000,2016-10-19,2016-03-11
12,101ewpvmfbc,1.089160,0.000000,4.514225,0.057532,2016-11-21,2016-02-08
13,101jblrepyr,1.284717,0.000000,8.900882,0.000000,2017-12-03,2016-04-12
14,101ocsicwng,0.764205,0.000000,2.455323,0.000000,2016-12-15,2016-03-10
15,101phcvroct,1.408422,3.303792,5.847579,1.495931,2017-06-01,2015-02-26
16,101rcwkfavv,1.283985,0.000000,1.679135,0.000000,2016-09-27,2016-09-19
17,101rujnkvse,0.076878,0.000000,1.014966,0.000000,2017-12-01,2017-01-13
18,101siexkzzo,0.000000,0.000000,2.000000,0.000000,2016-07-14,2016-07-14
19,101ugldwwzf,0.652483,0.000000,2.740773,0.000000,2016-11-08,2016-04-10
20,101ujplihug,0.261486,0.000000,9.949478,0.000000,2016-10-05,2016-07-14
21,101vwcdylha,0.000000,0.000000,3.000000,0.000000,2016-03-18,2016-03-18
22,101ydqdpmvi,0.000000,0.000000,1.195212,0.000000,2016-07-06,2016-06-13
23,102bnivzbfi,3.950531,11.688061,12.453061,0.117623,2017-05-03,2016-01-02
24,102ejeyobsm,1.000000,0.000000,5.000000,0.000000,2016-10-21,2016-10-21
25,102iqdwmigj,1.794959,0.000000,3.979365,0.127369,2017-09-01,2016-01-12
26,102ocsicwng,0.241620,0.000000,7.140030,0.000000,2017-11-03,2016-01-12
27,102ugldwwzf,0.145969,0.000000,2.465762,0.000000,2017-10-02,2016-01-12
28,102ujplihug,1.305683,0.000000,5.415941,0.614979,2017-08-01,2016-05-14
29,102vwcdylha,0.739994,3.523787,0.654182,0.299490,2016-12-04,2016-01-04
...,...,...,...,...,...,...,...
2851,98ydqdpmvi,0.362241,1.622303,13.850584,0.242313,2017-12-01,2016-01-07
2852,996phcvroct,0.539279,0.000000,6.715119,1.595942,2016-12-14,2016-05-09
2853,999phcvroct,1.061075,0.000000,1.745759,0.430443,2016-10-10,2016-07-10
2854,99bhqczwkj,0.658884,0.000000,1.548903,0.000000,2016-12-14,2016-09-27
2855,99bnivzbfi,1.950721,0.000000,8.026305,0.000000,2017-10-02,2016-10-14
2856,99ejeyobsm,0.000000,0.000000,6.108772,0.000000,2016-12-20,2016-09-27
2857,99iqdwmigj,1.098495,0.000000,4.778688,0.103452,2017-10-01,2016-01-12
2858,99ocsicwng,1.394864,0.000000,5.944308,0.000000,2017-10-02,2016-04-10
2859,99phcvroct,0.152353,11.856590,6.846818,6.804141,2016-12-01,2015-02-12
2860,99rcwkfavv,0.000000,0.000000,10.000000,0.000000,2016-09-19,2016-09-19
2861,99siexkzzo,5.756344,3.757726,1.278241,0.000000,2016-06-24,2016-06-20
2862,99vwcdylha,0.028023,0.000000,2.999104,1.040258,2016-12-07,2016-01-04
2863,99ydqdpmvi,0.720464,2.946508,20.697491,0.888650,2017-11-01,2016-01-07
2864,9dmgwoqhz,0.164535,0.000000,2.290163,0.000000,2017-08-02,2016-02-11
2865,9ejeyobsm,1.843002,0.000000,5.669198,0.000000,2017-10-01,2016-02-05
2866,9ewpvmfbc,0.538659,0.000000,2.232487,0.000000,2016-12-02,2016-03-10
2867,9fqsozvpv,1.000000,0.000000,5.000000,0.000000,2017-03-13,2017-03-13
2868,9jblrepyr,5.478476,0.000000,8.684810,0.000000,2016-11-15,2016-04-10
2869,9jnvpfmup,0.412663,0.000000,1.263823,0.000000,2017-10-03,2017-03-03
2870,9lgqwnfsg,2.000000,0.000000,1.000000,0.000000,2016-12-13,2016-12-13
2871,9oecfwdaq,0.000000,0.000000,0.000000,0.000000,2015-03-18,2015-03-18
2872,9rcyiinms,0.000000,0.000000,2.399417,0.000000,2017-01-23,2017-01-23
2873,9siexkzzo,6.109298,1.265718,6.009970,0.480520,2017-03-17,2016-01-09
2874,9ugldwwzf,0.589974,0.000000,2.164148,0.000000,2017-03-14,2016-05-09
2875,9ujplihug,1.225289,1.914159,14.362953,0.381508,2017-04-02,2016-02-06
2876,9vwcdylha,0.168470,0.476235,0.725901,0.638755,2016-12-09,2016-01-04
2877,9wsmblohy,0.000000,0.000000,1.834598,0.000000,2017-10-03,2017-02-20
2878,9xccmgbjz,0.244000,0.000000,1.208051,0.005804,2017-11-01,2016-02-11
2879,9ydqdpmvi,0.000000,0.000000,7.561313,0.000000,2016-05-27,2016-05-24
2880,9ylpksopb,0.000000,0.000000,1.000000,0.000000,2016-10-06,2016-06-23

In [15]:
remarks_supp_opp.sort_values('my_id')

              my_id  emp      comp  support  oppose  remarkId
266439  100bhqczwkj  100  bhqczwkj        1       0  mslhqdyv
265458  100bhqczwkj  100  bhqczwkj        1       0  njrfyooz
264750  100bhqczwkj  100  bhqczwkj        1       0  tscnjgxx
264643  100bhqczwkj  100  bhqczwkj        1       0  bwtusaro
266420  100bhqczwkj  100  bhqczwkj        1       0  bffxffix
265723  100bhqczwkj  100  bhqczwkj        1       0  himdpwbt
266158  100bhqczwkj  100  bhqczwkj        1       0  frbpqrhk
265738  100bhqczwkj  100  bhqczwkj        1       0  flykqflx
265734  100bhqczwkj  100  bhqczwkj        1       0  tatuydyy
21047   100bnivzbfi  100  bnivzbfi        1       0  ubuhpmxo
7521    100bnivzbfi  100  bnivzbfi        1       0  khrtxxoi
1048    100bnivzbfi  100  bnivzbfi        1       0  dgbpemhs
3433    100bnivzbfi  100  bnivzbfi        1       0  sokllalw
22369   100bnivzbfi  100  bnivzbfi        1       0  vzpkuyic
11399   100bnivzbfi  100  bnivzbfi        1       0  sivhmlxi
273     100bnivzbfi  100  bnivzbfi        1       0  jwqozkdf
30107   100bnivzbfi  100  bnivzbfi        1       0  uadrsqdp
10002   100bnivzbfi  100  bnivzbfi        1       0  ehyoynii
14264   100bnivzbfi  100  bnivzbfi        1       0  lvkhzekl
23362   100bnivzbfi  100  bnivzbfi        1       0  gzipszgg
11419   100bnivzbfi  100  bnivzbfi        1       0  jsaqtgqb
18371   100bnivzbfi  100  bnivzbfi        1       0  ohaonpto
20482   100bnivzbfi  100  bnivzbfi        1       0  nckmswlc
23346   100bnivzbfi  100  bnivzbfi        1       0  dldhrfzu
23379   100bnivzbfi  100  bnivzbfi        1       0  vsnhzvpd
21102   100bnivzbfi  100  bnivzbfi        1       0  dqcxmsqj
10128   100bnivzbfi  100  bnivzbfi        1       0  qpzhghhq
10138   100bnivzbfi  100  bnivzbfi        1       0  alzjdspd
23647   100bnivzbfi  100  bnivzbfi        1       0  hltjuliu
23636   100bnivzbfi  100  bnivzbfi        1       0  pwhkeqiz
...             ...  ...       ...      ...     ...       ...
78859     9xccmgbjz    9  xccmgbjz        1       0  sqeuizam
78915     9xccmgbjz    9  xccmgbjz        1       0  xxqdzbea
78861     9xccmgbjz    9  xccmgbjz        0       1  mqpudzzm
78912     9xccmgbjz    9  xccmgbjz        1       0  mchbvelq
78918     9xccmgbjz    9  xccmgbjz        1       0  wvuppnmg
266851    9ydqdpmvi    9  ydqdpmvi        1       0  phqyukif
288752    9ydqdpmvi    9  ydqdpmvi        1       0  vumwjijb
287718    9ydqdpmvi    9  ydqdpmvi        1       0  jbezmsrk
287031    9ydqdpmvi    9  ydqdpmvi        1       0  xmyblneu
284349    9ydqdpmvi    9  ydqdpmvi        1       0  rmpekwem
273693    9ydqdpmvi    9  ydqdpmvi        1       0  zekinmwv
280715    9ydqdpmvi    9  ydqdpmvi        0       1  iewgrnwx
279160    9ydqdpmvi    9  ydqdpmvi        1       0  hcvmmghe
279194    9ydqdpmvi    9  ydqdpmvi        1       0  ggttvdze
279213    9ydqdpmvi    9  ydqdpmvi        1       0  kmgprgng
279230    9ydqdpmvi    9  ydqdpmvi        1       0  loukqaio
271897    9ydqdpmvi    9  ydqdpmvi        1       0  aeelvada
266579    9ydqdpmvi    9  ydqdpmvi        1       0  tfnbtaek
285023    9ydqdpmvi    9  ydqdpmvi        1       0  iknqrndf
271138    9ydqdpmvi    9  ydqdpmvi        1       0  jkzewzlg
287494    9ydqdpmvi    9  ydqdpmvi        1       0  cxaszkwm
282730    9ydqdpmvi    9  ydqdpmvi        1       0  owutdnhm
288631    9ydqdpmvi    9  ydqdpmvi        1       0  xkamefqr
301929    9ydqdpmvi    9  ydqdpmvi        1       0  vihgeugl
269637    9ydqdpmvi    9  ydqdpmvi        1       0  acfsyzmv
273094    9ydqdpmvi    9  ydqdpmvi        1       0  mbagfrpg
272138    9ydqdpmvi    9  ydqdpmvi        1       0  fcnogdzg
272022    9ydqdpmvi    9  ydqdpmvi        1       0  xxhocknl
208360    9ylpksopb    9  ylpksopb        1       0  epjefsnq
210650    9ylpksopb    9  ylpksopb        1       0  hynzzenu

[324478 rows x 6 columns]

In [16]:
df_2 = pd.merge(remarks,short_train,how="inner",on='my_id')
df_2 = df_2.drop(['my_id','emp','comp'],axis=1)
df_3 = pd.merge(remarks_supp_opp,df_2,how="inner",on='remarkId')
df_3.sort_values('my_id')
pivot_given_remarks = pd.pivot_table(df_3, values=['support','oppose'], index='my_id',
                    columns=['left'], aggfunc=np.sum,fill_value = 0)
given_remarks_supp_opp = pivot_given_remarks.reset_index()

given_remarks_supp_opp.columns = ['my_id','giv_opp_0','giv_opp_1','giv_supp_0','giv_supp_1']
given_remarks_supp_opp

            my_id  giv_opp_0  giv_opp_1  giv_supp_0  giv_supp_1
0     100bhqczwkj          0          0           9           0
1     100bnivzbfi          1          2         245           4
2     100ejeyobsm          0          0          10           0
3     100jblrepyr          0          0           1           0
4     100rcwkfavv          7          0           7           0
5     100rujnkvse          1          0          22           0
6     100siexkzzo          3          0          52           3
7     100ugldwwzf          2          0          11           0
8     100ujplihug         67          5         137          46
9     100vwcdylha         36         10          55           0
10    100ydqdpmvi          7          2         166           9
11    100ylpksopb          0          0           2           1
12    101bnivzbfi        230         12         794          13
13    101ejeyobsm         11          0          50           0
14    101ewpvmfbc         53          0         177           0
15    101jblrepyr          6          0          20           0
16    101ocsicwng          0          0           3           0
17    101phcvroct        311        183        1485         995
18    101rcwkfavv          0          0           1           0
19    101rujnkvse          1          0           6           0
20    101siexkzzo          0          0           6           0
21    101ugldwwzf          0          0           7           0
22    101ujplihug          9          9          68          13
23    101vwcdylha          0          0           2           0
24    101ydqdpmvi          1          0          91          10
25    102bnivzbfi         94          8         170           1
26    102ewpvmfbc          0          0           2           0
27    102iqdwmigj          7          0          58           0
28    102ocsicwng         51          0          24           0
29    102ugldwwzf          0          0           3           0
...           ...        ...        ...         ...         ...
3059  991phcvroct          0          0           0           1
3060  996phcvroct          2          0          10           5
3061  999phcvroct          1          0           0           1
3062   99bnivzbfi          0          0           9           0
3063   99ejeyobsm          1          0          11           0
3064   99iqdwmigj         20          2          25           0
3065   99ocsicwng         12          0          24           0
3066   99phcvroct          1          1          24          40
3067   99rcwkfavv          0          0           1           0
3068   99siexkzzo          1          0          27           0
3069   99vwcdylha         24          0          41           1
3070   99ydqdpmvi         22          1         210          18
3071    9dmgwoqhz          6          0          23           0
3072    9ejeyobsm         63          0         159           0
3073    9ewpvmfbc         10          0          33           0
3074    9fqsozvpv          0          0           6           0
3075    9jblrepyr          0          0           7           0
3076    9lgqwnfsg          1          0           0           0
3077    9oecfwdaq          0          0           1           0
3078    9ojidyfnn          0          0           4           0
3079    9pfmjacpm          0          0           1           0
3080    9rcyiinms          0          0          15           0
3081    9siexkzzo        147          4         298           7
3082    9ugldwwzf          1          0          28           0
3083    9ujplihug         53         70         168          19
3084    9vwcdylha          3          0          70          27
3085    9wsmblohy          2          0           5           0
3086    9xccmgbjz         13          0          92           0
3087    9ydqdpmvi          1          0          17           2
3088    9ylpksopb          0          0           2           0

[3089 rows x 5 columns]

In [17]:
train_id = short_train.drop(['left'],axis=1).drop_duplicates()
ratings_on_train = pd.merge(grouped_weighted_rating,train_id,how='right',on='my_id')
recd_remarks_on_train = pd.merge(recd_grouped_weighted_remark,train_id,how='right',on='my_id')
given_remarks_on_train = pd.merge(given_remarks_supp_opp,train_id,how='right',on='my_id')
remarks_on_train = pd.merge(recd_remarks_on_train,given_remarks_on_train,how='inner',on='my_id')

In [18]:
features_on_train = pd.merge(ratings_on_train,remarks_on_train,how='inner',on='my_id')
features_on_train = pd.merge(features_on_train,short_train.drop_duplicates(),how='inner',on='my_id')

In [52]:
test = pd.read_csv("test.csv")
test.insert(0, 'my_id', test['emp'].apply(str) + test['comp'])
test.drop_duplicates()

           my_id    id  emp      comp lastratingdate
0    509bnivzbfi   353  509  bnivzbfi     20-03-2017
1     22ocsicwng   732   22  ocsicwng     17-03-2017
2      2siexkzzo  3076    2  siexkzzo     09-01-2017
3    885phcvroct  2199  885  phcvroct     01-10-2016
4    756phcvroct  2145  756  phcvroct     06-02-2017
5     92bnivzbfi    88   92  bnivzbfi     10-03-2017
6    316bhqczwkj  3962  316  bhqczwkj     02-01-2017
7    183bnivzbfi   158  183  bnivzbfi     17-03-2017
8    188vwcdylha  3565  188  vwcdylha     25-11-2016
9    234ewpvmfbc  1017  234  ewpvmfbc     23-11-2016
10   299rcwkfavv  2481  299  rcwkfavv     20-03-2017
11    19rcwkfavv  2290   19  rcwkfavv     19-03-2017
12   526wsmblohy  4718  526  wsmblohy     20-03-2017
13   410phcvroct  1999  410  phcvroct     04-06-2015
14   942phcvroct  2229  942  phcvroct     13-09-2016
15     4ylpksopb  2757    4  ylpksopb     05-04-2016
16   246wsmblohy  4604  246  wsmblohy     17-03-2017
17    94vwcdylha  3496   94  vwcdylha     18-04-2016
18    86vwcdylha  3489   86  vwcdylha     25-09-2016
19    44wsmblohy  4486   44  wsmblohy     20-03-2017
20     4oecfwdaq   362    4  oecfwdaq     17-03-2017
21   265ujplihug  2699  265  ujplihug     10-10-2016
22   280yodaczsb   702  280  yodaczsb     16-03-2017
23    21bhqczwkj  3736   21  bhqczwkj     30-09-2016
24   416ujplihug  2731  416  ujplihug     01-03-2017
25   135vwcdylha  3525  135  vwcdylha     03-05-2016
26   269rcwkfavv  2465  269  rcwkfavv     20-09-2016
27   380bnivzbfi   295  380  bnivzbfi     20-03-2017
28    66ydqdpmvi  4048   66  ydqdpmvi     20-03-2017
29   247rcwkfavv  2451  247  rcwkfavv     20-03-2017
..           ...   ...  ...       ...            ...
852  380siexkzzo  3356  380  siexkzzo     14-03-2017
853   71spfcrgea  3692   71  spfcrgea     22-03-2016
854  146bhqczwkj  3830  146  bhqczwkj     26-09-2016
855  128ocsicwng   813  128  ocsicwng     28-02-2017
856   25vcqsbirc  1114   25  vcqsbirc     04-04-2016
857  185wsmblohy  4568  185  wsmblohy     01-03-2017
858    1siexkzzo  3075    1  siexkzzo     18-03-2017
859  116iqdwmigj  1189  116  iqdwmigj     24-02-2017
860  768phcvroct  2151  768  phcvroct     20-03-2017
861   91wsmblohy  4518   91  wsmblohy     10-03-2017
862  162rcwkfavv  2389  162  rcwkfavv     20-03-2017
863  185vwcdylha  3562  185  vwcdylha     17-11-2016
864  932phcvroct  2224  932  phcvroct     06-10-2016
865  228jblrepyr  4333  228  jblrepyr     22-02-2017
866  210ewpvmfbc   994  210  ewpvmfbc     09-11-2016
867   26lydqevjo  3685   26  lydqevjo     28-11-2016
868  649phcvroct  2114  649  phcvroct     05-09-2016
869  159iqdwmigj  1225  159  iqdwmigj     01-02-2017
870  194bnivzbfi   165  194  bnivzbfi     19-03-2017
871  280wsmblohy  4620  280  wsmblohy     15-03-2017
872    9oecfwdaq   367    9  oecfwdaq     19-03-2015
873   18fqsozvpv  3385   18  fqsozvpv     13-03-2017
874  127vwcdylha  3519  127  vwcdylha     08-11-2016
875  126bhqczwkj  3818  126  bhqczwkj     18-03-2017
876   56ujplihug  2553   56  ujplihug     20-03-2017
877   36ydqdpmvi  4022   36  ydqdpmvi     05-10-2016
878   30fqsozvpv  3397   30  fqsozvpv     14-03-2017
879   15rujnkvse  1028   15  rujnkvse     30-01-2017
880  127siexkzzo  3179  127  siexkzzo     17-03-2017
881   34phcvroct  1535   34  phcvroct     14-07-2016

[882 rows x 5 columns]

In [53]:
test = test['my_id'].reset_index().drop(['index'],axis =1)

ratings_on_test = pd.merge(grouped_weighted_rating,test,how='right',on='my_id')
recd_remarks_on_test = pd.merge(recd_grouped_weighted_remark,test,how='right',on='my_id')
given_remarks_on_test = pd.merge(given_remarks_supp_opp,test,how='right',on='my_id')
remarks_on_test = pd.merge(recd_remarks_on_test,given_remarks_on_test,how='right',on='my_id')

features_on_test = pd.merge(ratings_on_test,remarks_on_test,how='inner',on='my_id')
features_on_test = pd.merge(features_on_test,test.drop_duplicates(),how='inner',on='my_id')
features_on_test

,my_id,last_rating_date,first_rating_date,weighted_rating,no_ratings,recd_opp_0,recd_opp_1,recd_supp_0,recd_supp_1,last_remark_date,first_remark_date,giv_opp_0,giv_opp_1,giv_supp_0,giv_supp_1
0,101bhqczwkj,2017-09-03,2016-01-12,3.113504,9,0.000000,0.000000,0.308240,0.000000,2017-09-03,2016-01-12,NaN,NaN,NaN,NaN
1,101phcvroct,2017-12-03,2015-01-05,3.972604,688,1.408422,3.303792,5.847579,1.495931,2017-06-01,2015-02-26,311.0,183.0,1485.0,995.0
2,101ugldwwzf,2016-12-08,2016-01-08,3.614712,18,0.652483,0.000000,2.740773,0.000000,2016-11-08,2016-04-10,0.0,0.0,7.0,0.0
3,102ocsicwng,2017-12-02,2016-01-11,3.970253,94,0.241620,0.000000,7.140030,0.000000,2017-11-03,2016-01-12,51.0,0.0,24.0,0.0
4,102vwcdylha,2016-12-11,2016-01-04,2.503028,188,0.739994,3.523787,0.654182,0.299490,2016-12-04,2016-01-04,61.0,6.0,115.0,19.0
5,103rujnkvse,2017-01-25,2016-07-11,3.000000,6,0.983270,0.000000,1.508365,0.000000,2016-08-11,2016-07-11,0.0,0.0,1.0,0.0
6,103ujplihug,2017-11-03,2016-01-10,1.629423,63,NaN,NaN,NaN,NaN,NaT,NaT,1.0,0.0,8.0,2.0
7,104rujnkvse,2017-10-03,2016-07-11,2.350385,50,0.505764,0.000000,5.456680,0.000000,2017-09-03,2016-08-11,4.0,0.0,77.0,0.0
8,104siexkzzo,2017-03-18,2016-01-07,3.220118,28,5.357758,1.580347,11.036294,0.057419,2017-01-26,2016-03-08,21.0,0.0,32.0,0.0
9,104yodaczsb,2016-12-22,2016-05-12,3.000000,9,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
10,105ejeyobsm,2016-10-25,2016-10-25,3.000000,1,1.000000,0.000000,4.000000,0.000000,2016-10-25,2016-10-25,NaN,NaN,NaN,NaN
11,105jblrepyr,2017-09-01,2016-01-11,2.936780,39,0.445536,0.000000,5.541319,0.000000,2017-09-01,2016-01-11,4.0,0.0,64.0,0.0
12,106phcvroct,2016-12-02,2015-02-03,2.161042,138,NaN,NaN,NaN,NaN,NaT,NaT,6.0,11.0,10.0,16.0
13,106yodaczsb,2016-12-10,2016-07-10,3.000000,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
14,107siexkzzo,2017-07-02,2016-01-07,2.647390,34,3.703063,0.000000,10.056367,0.197958,2017-03-03,2016-09-13,0.0,0.0,48.0,1.0
15,108rujnkvse,2017-10-03,2016-07-11,3.545097,8,1.000000,0.000000,0.374831,0.000000,2017-02-03,2017-01-03,0.0,0.0,1.0,0.0
16,109ugldwwzf,2017-12-01,2016-01-09,3.576947,106,0.386350,0.000000,3.745784,0.000000,2017-09-03,2016-01-12,97.0,0.0,70.0,0.0
17,10oecfwdaq,2016-12-07,2015-02-03,3.555499,22,0.000000,0.000000,0.133845,0.000000,2016-11-05,2015-02-13,0.0,0.0,4.0,0.0
18,10rcwkfavv,2017-07-01,2016-02-11,3.188991,27,0.000000,0.000000,1.563312,0.000000,2017-01-23,2016-09-26,0.0,0.0,6.0,0.0
19,10rcyiinms,2017-12-02,2016-07-11,3.072906,38,NaN,NaN,NaN,NaN,NaT,NaT,0.0,0.0,12.0,0.0
20,10ylpksopb,2016-11-30,2016-11-30,3.000000,1,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
21,110siexkzzo,2017-11-01,2016-01-07,2.054953,157,0.000000,0.000000,22.000000,2.000000,2017-09-02,2017-09-02,19.0,0.0,35.0,0.0
22,110ujplihug,2017-02-02,2016-01-07,3.251071,44,2.131775,0.000000,16.337986,0.551320,2016-10-27,2016-05-09,1.0,1.0,15.0,0.0
23,110ydqdpmvi,2017-12-03,2016-01-07,2.518140,220,0.493863,0.000000,26.969487,0.366028,2017-09-02,2016-06-14,21.0,0.0,130.0,0.0
24,110yodaczsb,2017-01-18,2016-07-10,1.941727,6,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
25,111ewpvmfbc,2016-08-02,2016-02-02,3.000000,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
26,111ydqdpmvi,2017-12-01,2016-01-08,2.999699,160,0.494344,0.000000,14.178348,0.254368,2017-06-03,2016-02-07,7.0,0.0,324.0,8.0
27,112ydqdpmvi,2017-06-03,2016-04-07,2.837427,38,0.847144,0.000000,4.826183,0.087891,2017-02-15,2016-04-07,1.0,2.0,6.0,0.0
28,113rcwkfavv,2017-12-02,2016-01-12,3.000000,111,0.000000,0.000000,2.000000,0.000000,2016-06-10,2016-06-10,0.0,0.0,2.0,0.0
29,114phcvroct,2017-12-01,2016-01-06,2.730939,117,NaN,NaN,NaN,NaN,NaT,NaT,1.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,92siexkzzo,2016-07-26,2016-01-08,2.519045,10,0.000000,0.000000,4.000000,0.000000,2016-06-30,2016-06-30,1.0,0.0,15.0,0.0
853,932phcvroct,2016-09-28,2016-04-10,2.938108,13,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
854,93rujnkvse,2017-08-02,2016-07-11,2.831320,13,NaN,NaN,NaN,NaN,NaT,NaT,2.0,0.0,7.0,0.0
855,942phcvroct,2016-09-13,2016-01-07,3.426471,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
856,94bnivzbfi,2017-10-03,2016-01-02,2.579647,100,0.534249,0.000000,1.018986,0.038565,2016-12-02,2016-01-02,13.0,1.0,79.0,5.0
857,94iqdwmigj,2017-12-01,2016-01-12,1.325657,66,1.485869,12.105895,4.858417,0.068624,2017-11-01,2016-02-12,7.0,0.0,96.0,2.0
858,94jblrepyr,2016-10-24,2016-10-22,3.666995,3,NaN,NaN,NaN,NaN,NaT,NaT,0.0,0.0,2.0,0.0
859,94rcwkfavv,2016-12-31,2016-02-11,3.333605,25,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
860,94ujplihug,2017-08-03,2016-01-12,3.675250,45,0.677976,0.021579,12.546207,0.000000,2017-01-21,2016-07-11,1.0,4.0,77.0,13.0
861,94vwcdylha,2016-12-04,2016-03-23,2.696851,7,0.351571,0.000000,2.099821,0.638652,2016-12-04,2016-03-23,0.0,0.0,10.0,0.0
862,955phcvroct,2016-09-30,2016-03-10,2.941157,19,0.941439,1.181449,0.652059,1.005307,2016-09-26,2016-04-10,0.0,0.0,2.0,2.0
863,95ejeyobsm,2016-08-18,2016-08-18,4.000000,1,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
864,95rcwkfavv,2016-09-28,2016-04-10,3.681529,8,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
865,95rujnkvse,2017-03-14,2016-01-12,4.000000,7,0.000000,0.000000,0.663523,0.000000,2016-12-21,2016-01-12,1.0,0.0,0.0,0.0
866,95yodaczsb,2017-01-23,2016-01-12,2.665170,40,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
867,966phcvroct,2017-05-01,2016-01-10,2.896852,45,3.783721,0.000000,4.144186,0.927907,2016-12-19,2016-04-10,0.0,0.0,17.0,1.0
868,968phcvroct,2016-12-10,2016-02-12,2.010334,27,0.748437,0.813361,3.861810,0.910147,2016-10-20,2016-07-10,0.0,0.0,11.0,1.0
869,96ocsicwng,2016-12-10,2016-10-10,2.494369,6,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
870,975phcvroct,2016-09-08,2016-02-08,4.000000,4,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
871,977phcvroct,2016-12-08,2016-11-08,3.000000,2,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
872,97bnivzbfi,2017-09-02,2016-03-11,2.167177,17,0.000000,0.000000,7.000000,0.000000,2016-10-11,2016-10-11,0.0,0.0,13.0,0.0
873,97siexkzzo,2016-08-07,2016-08-07,4.000000,1,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
874,98phcvroct,2017-12-03,2015-01-09,2.395620,183,0.000000,0.483573,4.337055,2.554277,2016-01-15,2015-06-03,1.0,1.0,5.0,5.0
875,98ujplihug,2017-07-03,2016-01-11,3.231260,45,0.965949,7.588583,6.549441,1.065550,2016-11-11,2016-05-26,1.0,0.0,13.0,7.0
876,99ejeyobsm,2017-01-19,2016-04-10,3.753990,13,0.000000,0.000000,6.108772,0.000000,2016-12-20,2016-09-27,1.0,0.0,11.0,0.0
877,9dmgwoqhz,2017-12-02,2016-01-12,3.742380,96,0.164535,0.000000,2.290163,0.000000,2017-08-02,2016-02-11,6.0,0.0,23.0,0.0
878,9fqsozvpv,2017-03-13,2017-03-13,4.000000,1,1.000000,0.000000,5.000000,0.000000,2017-03-13,2017-03-13,0.0,0.0,6.0,0.0
879,9jblrepyr,2016-11-29,2016-03-10,3.167892,8,5.478476,0.000000,8.684810,0.000000,2016-11-15,2016-04-10,0.0,0.0,7.0,0.0
880,9oecfwdaq,2015-09-02,2015-02-03,3.234602,9,0.000000,0.000000,0.000000,0.000000,2015-03-18,2015-03-18,0.0,0.0,1.0,0.0
881,9ydqdpmvi,2017-12-02,2016-01-06,2.779259,207,0.000000,0.000000,7.561313,0.000000,2016-05-27,2016-05-24,1.0,0.0,17.0,2.0

In [54]:
features_on_test.to_csv('features_on_test.csv')

In [3]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

test.insert(0, 'my_id', test['emp'].apply(str) + test['comp'])
train.insert(0, 'my_id', train['emp'].apply(str) + train['comp'])

In [19]:
test_common = pd.merge(test,train,how='inner',on='my_id')
test_common = test_common[['my_id','left']]
test_common.to_csv('test_common.csv')

In [29]:
test_result = pd.read_csv("result.csv")
result_test = pd.merge(test,test_result,how='left',on='my_id')
final_result = result_test[['id','left']]

final_result.to_csv('final_result.csv',index=False)

In [28]:
result_test[['id','left']]

       id  left
0     353     0
1     732     0
2    3076     0
3    2199     1
4    2145     0
5      88     0
6    3962     0
7     158     0
8    3565     0
9    1017     0
10   2481     0
11   2290     0
12   4718     0
13   1999     1
14   2229     1
15   2757     0
16   4604     0
17   3496     0
18   3489     0
19   4486     0
20    362     0
21   2699     1
22    702     0
23   3736     0
24   2731     0
25   3525     0
26   2465     0
27    295     0
28   4048     0
29   2451     0
..    ...   ...
852  3356     0
853  3692     0
854  3830     0
855   813     0
856  1114     0
857  4568     1
858  3075     0
859  1189     0
860  2151     0
861  4518     0
862  2389     0
863  3562     0
864  2224     1
865  4333     0
866   994     0
867  3685     0
868  2114     1
869  1225     0
870   165     0
871  4620     0
872   367     1
873  3385     0
874  3519     0
875  3818     0
876  2553     0
877  4022     0
878  3397     0
879  1028     0
880  3179     0
881  1535     1

[882 rows x 2 columns]